body {
	margin: 0;
	padding: 0;
}
/* txt */
h1, h2, h3, h5 {
	font-family: 'Charm', cursive;
	text-align: center;
}
p {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}
h1, h2, h3 {
	color: rgb(57, 96, 96);
}
p {
	color: #3c575d;
}
.featurette-divider {
	width: 90%;
	height: 2px;
	background-color: rgb(255, 192, 204);
	border-radius: 25px;
}
.featurette-divider2 {
	width: 90%;
	height: 2px;
	background-color: rgba(57, 96, 96, 0.6);
	border-radius: 25px;
}
/* nav bar */
.navbar {
	background-color: #ffc0cc !important;
    border:0;
    padding: 10px 70px;
}
.navbar-brand {
	font-family: 'Charm', cursive;
    font-size: 40px;
    color: rgb(57, 96, 96) !important;
    font-weight: bold;
    padding-right: 100px;
}
.nav-item {
	color: #283a3e !important;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600px;
	font-size: 17px;
}
/*header txt*/
.text-center_h1 {
	position: absolute;
	top: 57%;
	left: 30%;
	/*transform: translate(-65%, -30%);*/
	color:  #ff8095;
	/*font-size: 75px;*/
	font-size: 8vw;
}
.text-center_h2 {
	position: absolute;
	top: 80%;
	left: 22%;
	/*transform: translate(-80%, -55%);*/
	color: #ff8095;
	/*font-size: 75px;*/
	font-size: 6vw;
}
.text-center_p {
	position: absolute;
	top: 100%;
	left: 24%;
	color: rgba(255, 192, 204, 0.6);
	/*font-size: 35px;*/
	font-size: 4vw;
}
.text-center_p1 {
	text-align: center;
	position: absolute;
	top: 120%;
	left: 19%;
	color: rgba(255, 192, 204, 0.6);
	/*font-size: 35px;*/
	font-size: 2.5vw;
}
.btn-primary {
	background-color: #ff8095;
	border: none;
	color: #cccccc;
	position: absolute;
	top: 135%;
	left: 43%;
}
.btn-primary:hover {
	background-color: rgba(57, 96, 96, 0.4);
}
/* media queries header */
@media (min-width: 300px) {
.text-center_h1 {
	top: 28%;
}
.text-center_h2 {
	top: 34%;
}
.text-center_p {
	top: 40%;
}
.text-center_p1 {
	top: 44%;
}
.btn-primary {
	top: 48%;
	left: 35%;
}
}
@media (min-width: 480px) {
.text-center_h1 {
	top: 33%;
}
.text-center_h2 {
	top: 40%;
}
.text-center_p {
	top: 47%;
}
.text-center_p1 {
	top: 52%;
}
.btn-primary {
	top: 57%;
	left: 40%;
}
}
@media (min-width: 660px) {
.text-center_h1 {
	top: 40%;
}
.text-center_h2 {
	top: 50%;
}
.text-center_p {
	top: 60%;
}
.text-center_p1 {
	top: 67%;
}
.btn-primary {
	top: 75%;
	left: 40%;
}
}
@media (min-width: 750px) {
.text-center_h1 {
	top: 40%;
}
.text-center_h2 {
	top: 50%;
}
.text-center_p {
	top: 65%;
}
.text-center_p1 {
	top: 75%;
}
.btn-primary {
	top: 85%;
	left: 43%;
}
}
@media (min-width: 870px) {
.text-center_h1 {
	top: 45%;
}
.text-center_h2 {
	top: 57%;
}
.text-center_p {
	top: 73%;
}
.text-center_p1 {
	top: 82%;
}
.btn-primary {
	top: 93%;
	left: 43%;
}
}
@media (min-width: 950px) {
.text-center_h1 {
	top: 45%;
}
.text-center_h2 {
	top: 60%;
}
.text-center_p {
	top: 75%;
}
.text-center_p1 {
	top: 85%;
}
.btn-primary {
	top: 97%;
	left: 43%;
}
}
@media (min-width: 1200px) {
.text-center_h1 {
	top: 55%;
}
.text-center_h2 {
	top: 75%;
}
.text-center_p {
	top: 100%;
}
.text-center_p1 {
	top: 115%;
}
.btn-primary {
	top: 130%;
	left: 43%;
}
}
/* sekcije */
.btn-info {
	background-color: rgb(57, 96, 96);
	border: none;
	margin: 15px 135px;
	color: #cccccc;
	font-weight: bold;
}
#work {
	background-color: rgb(255, 192, 204);
}
.col-md-6 {
	padding: 15px;
}
.featurette-heading {
	padding-top: 25px;
}
.lead {
	padding-top: 25px;
}
.featurette-image {
	width: 300px;
	height: 500px;
}
#clc-img {
	width: 300px;
	height: 200px;
}
.container-fluid {
	background-color: #cccccc;
}
#about {
	background-color: rgba(57, 96, 96, 0.4);
	padding: 25px;
}
#myWork {
	background-color: rgba(255, 192, 204, 0.6);
	padding: 25px; 
}
#mySkills {
	background-color: rgba(57, 96, 96, 0.4);
	padding: 25px;	
}
/* linkovi*/
a {
	color: #396060;
}
a:hover {
	color: #ff8095;
}
/* slike */
.imgSkills {
	position: relative;
	left: 13%;
}
.imgSkills1 {
	position: relative;
	left: 17%;
}
.imgSkills2 {
	position: relative;
	left: 30%;
}
.imgSkills3 {
	position: relative;
	left: 30%;
}
.imgSkills4 {
	position: relative;
	left: 30%;
}
.imgSkills5 {
	position: relative;
	left: 30%;
}
.imgSkills6 {
	position: relative;
	left: 30%;
}
.contactImg {
	position: absolute;
	left: 40%;
}
.contactImg1 {
	position: absolute;
	left: 49%;
}
.contactImg2 {
	width: 40px;
	height: 40px;
	position: absolute;
	left: 60%;
}